.parent_main{
  background:white;
  width:100%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 45px;
  display: flex;
  flex-direction: column;
  gap:22px;
}
.title_main{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.update_theme{
  display: flex;
  gap: 5px;
  align-items: center;
  border: none;
  color: white;
  background: var(--color-secondary);
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}
.update_theme :nth-child(1){
  font-size:18px;
  font-weight: 550;
  transform: translate3d(0,1px,0);
}
.alls_thematics{
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.sous_alls_thematics{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
   background-color:#0084FA0D; 
  align-items: center;
border: 1px solid #0084FA1A;
}

.parent_icons_thematics{
  display: flex !important;
  gap: 5px !important;
  align-items: center;
}
.parent_icons_thematics_child1{
  color: white;
  padding: 10px;
  width: 15px !important;
  height: 15px !important;
  border-radius: 50% !important;
  background: var(--color-secondary) !important;
}
.parent_icons_thematics_child2{
  color: var(--color-secondary) !important;
  font-size: 14px !important;
}
.parent_icons_thematics_span{
  font-size: 14px;
}
.parent_messages3_thematics{
  border-radius: 5px;
  display: flex;
  gap: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
  align-items: center;
  border: 1px solid var(--color-secondary);
  background: white;
  cursor: pointer;
  color: var(--color-secondary);
}
.repondre_thematic{
  font-size: 14px;
}
#masqueTheme{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background:black;
  opacity: 0.8;
  z-index: 5;
}
#answer_client_theme{
background: white;
  width: 60%;
  height: 90vh;
  margin: auto;
  position: relative;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 30px;
  border-radius: 5px;
  z-index: 2000;
  position: fixed;
  top:20px;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  gap: 30px !important;
  padding-bottom: 30px;
}
.answer_client_theme1{
  margin: auto;
  font-size:25px;
}
.answer_client_theme2{
  width: 100%;
  display: flex;
  gap: 20px;
  align-items:center;
  padding-top: 20px;
}
.answer_client_theme2_child1{
  width: calc(100% - 220px);
  display: flex;
  gap: 20px;
  align-items: center;
}
.answer_client_theme2_child1_left{
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 50%;
  position: relative;
}
.answer_client_theme2_child1_left label{
  text-align: left;
  font-size: 15px;
  color: #42444B;
  font-weight: 550;
}
.answer_client_theme2_child1_left input{
  border-radius: 5px;
  border: 1px solid #bebebe;
  padding-left:10px;
  padding-top: 10px;
  padding-bottom: 10px;
  outline: none;
}
.answer_client_theme2_child2{
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: relative;
}
.circle{
  width:24px;
  height:24px;
  border-radius: 50%;
  background: red;
  position: absolute;
  top: 50%;
  left: 5px; 
}
.parent_palette_color{
  position: absolute;
  z-index: 2;
  top:110%;
  border-radius: 5px;
}

.icon-item {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.icon-item{
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center;
  align-items: center; */
}
.icons_font_awesome{
  width:18px;
  height:18px;
  padding: 10px;
}
.close_color{
  position: absolute;
  right: 10px;
  cursor: pointer;
}
.answer_client_theme2_child2 label{
  text-align: left;
  font-size: 15px;
  color: #42444B;
  font-weight: 550;
}
.answer_client_theme2_child2 input{
  border-radius: 5px;
  border: 1px solid #bebebe;
  padding-left:40px;
  padding-top: 10px;
  padding-bottom: 10px;
  outline: none;
  font-size: 12px;
}
.close_theme{
  position: absolute;
  right: 10px;
  top: 10px;
  width: 15px;
  height: 15px;
  color: grey;
  cursor: pointer;
}
.error_theme{
  font-size: 12px;
  color: red;
  position: absolute;
  bottom: -20px;
}
.answer_client_theme3{
  width: 100%;
  display: flex;
  gap: 10px;
  align-items: center;
}
.answer_client_theme3 label{
  font-size: 15px;
  color: #42444B;
  font-weight: 550;
}
.answer_client_theme3_parent_input{
  position: relative;
  width: 100%;
}
.answer_client_theme3_parent_input input{
  width: 100%; 
  border-radius: 5px;
  border: 1px solid #bebebe;
  padding-left:10px;
  padding-top: 10px;
  padding-bottom: 10px;
  outline: none;
}
.answer_client_theme3_search{
  position:absolute;
  right: 0;
  top:0px;
  background: var(--color-primary);
  border-radius: 5px;
  padding-left: 12px;
  padding-right: 12px;
  height:100%;
  padding-top: 10px;
  cursor: pointer;
}
.search_theme{
  width: 18px;
  height:18px;
  object-fit: cover;
}
.answer_client_theme4{
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  height:200px;
  border: 1px solid #0084FA1A;
  box-shadow: 0px 4px 4px 0px #0084FA1A;
  cursor: pointer;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(40px, 1fr));
  gap: 5px;
  overflow-y: auto;

}
.button_theme{
  width: 100%;
  background: var(--color-primary);
  padding-top: 10px;
  padding-bottom: 10px;
  outline: none;
  border: none;
  color: white;
  text-align:center ;
  font-size: 15px;
  border-radius: 5px;
  cursor: pointer;
}