.parent_main{
  background:white;
  width:100%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 45px;
  display: flex;
  flex-direction: column;
  gap:22px;
}
.title_main{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.update_theme{
  display: flex;
  gap: 5px;
  align-items: center;
  border: none;
  color: white;
  background: var(--color-secondary);
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}
.update_theme :nth-child(1){
  font-size:18px;
  font-weight: 550;
  transform: translate3d(0,1px,0);
}
.sous_parent_main{
  background: violet;
}